<form action="/register" method="post">
    <input type="text" name="username" placeholder="Ingresar usuario..." required>
    <input type="email" name="email" placeholder="Ingresar email..." required>
    <input type="password" name="password" placeholder="Ingresar password..." required>

    <button type="submit" name="">
        Registrarse
    </button>
</form>